/**
 * sass/objects/text/base.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2024.04.27)
 * @copyright 2024
**/

// @IMPORT | VARIABLES
    @import "variables";
    @import "lists";

// FONT STACKS
    $font-sans: Roboto, Helvetica, Arial, sans-serif;
    $font-serif: Merriweather, Georgia, serif;

// FONT SIZES
    $font-size-base: 1.00rem;
    $font-size-xs: 14px;
    $font-size-sm: 14px;
    $font-size-md: 14px;
    $font-size-lg: 14px;
    $font-size-xl: 16px;
    $font-size-xxl: 16px;

// COLORS
    $text-color-normal: $color-grayscale-dark-6;
    $text-color-alt: $color-scgolfpanel-brown-0;
    $text-color-white: $color-grayscale-light-12;
    $text-color-light: $color-grayscale-light-9;
    $text-color-medium: $color-grayscale-0;
    $text-color-dark: $color-grayscale-dark-9;
    $text-color-black: $color-grayscale-dark-12;

// BODY
    $body-text: $font-sans;
    $body-text-size: $font-size-base;
    $body-text-color: $text-color-normal;
    $body-text-height: $line-height-normal;
    $body-text-spacing: $letter-spacing-normal;
    $body-text-margin: $margin-sm;

// HEADINGS
    $heading-text: $font-serif;
    $heading-text-color: $text-color-dark;
    $heading-text-size-h1: 3.00rem;
    $heading-text-size-h2: 2.50rem;
    $heading-text-size-h3: 2.00rem;
    $heading-text-size-h4: 1.50rem;
    $heading-text-size-h5: 1.25rem;
    $heading-text-size-h6: 1.00rem;
    $heading-text-style: none;
    $heading-text-height: $line-height-condensed;
    $heading-text-spacing: $letter-spacing-normal;
    $heading-text-margin: $margin-md;
    $heading-primary-text: $heading-text;
    $heading-primary-text-color: $heading-text-color;
    $heading-secondary-text: $body-text;
    $heading-secondary-text-color: $body-text-color;

// LINKS
    $link-text-color: $link-color;
    $link-hover-text-color: $link-hover-color;

// ICONS
    $font-icons: normal normal normal $font-size-base FontAwesome;
    $icon-margin: $margin-none $margin-xs;

// SHADOWS
    $text-shadow: $shadow-text;

// @IMPORT | PARTIALS
    @import "body";
    @import "headings";
    @import "links";
    @import "icons";
    @import "shadows";
    @import "styles";