/**
 * sass/variables/media/content.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2024.04.27)
 * @copyright 2024
**/

// CONTENT
    $content-width-sm-px: $site-width-content - 1px;
    $content-width-lg-px: $site-width-content;
    $content-width-sm: "(max-width: #{$content-width-sm-px})";
    $content-width-lg: "(min-width: #{$content-width-lg-px})";